  <label class="mb-0 pb-0 px-0 col-12 lb text-muted mt-2">
                              <div id='editControls' class="col-12  " >
                                <div class="row">
                                  <div class="hRow jus-center bt-group  mr-1 ">
                                      <a class='editor-btn ic ic-undo' data-role='undo' href='#'></a>
                                      <a class='editor-btn ic ic-redo' data-role='redo' href='#'></a>
                                  </div>
                                 
                                    <div class="hRow jus-center bt-group mr-1">
                                        <a class='editor-btn ' data-role='bold' href='#'><b>b</b></a>
                                        <a class='editor-btn ' data-role='italic' href='#'><i>I</i></a>
                                        <a class='editor-btn' data-role='underline' href='#'><u><b>U</b></u></a>
                                        <a class='editor-btn' data-role='strikeThrough' href='#'><strike>abc</strike></a>
    
                                    </div>
                                    <div class="hRow jus-center bt-group mr-1">
                                        <a class='editor-btn ic ic-left-alignment' data-role='justifyLeft' href='#'></a>
                                        <a class='editor-btn ic ic-center-alignment' data-role='justifyCenter' href='#'></a>
                                        <a class='editor-btn ic ic-right-alignment' data-role='justifyRight' href='#'></i></a>
                                        <a class='editor-btn ic ic-justify-alignment' data-role='justifyFull' href='#'></a>
                                      </div>
                                      <div class=" hRow jus-center  bt-group mr-1">
                                          <a class='editor-btn ic ic-indent' data-role='indent' href='#'></a>
                                          <a class='editor-btn ic ic-outdent' data-role='outdent' href='#'></a>
                                      </div>
                                      <div class=" hRow jus-center  bt-group mr-1">
                                          <a class='editor-btn ic ic-list' data-role='insertUnorderedList' href='#'></a>
                                           <a class='editor-btn ic ic-numbered' data-role='insertOrderedList' href='#'></a>
                                      </div>
                                      
                                      
    
    
    
                                  </div>
                                   
                                   
                              </div>
                              <div id='editor-input' style='' spellcheck="false" contenteditable class=" p-1 py-md-2 px-md-3 m-0" ></div>
                            </label>