<% layout('main-layout') -%>
<link rel="stylesheet" href="/stylesheets/home-stylesheet-min.css">
    <div id="miolo ">
        <div class="container">
           <%= contents["sobre"][0].title %>
        </div>
    </div>
<script src="/javascripts/home-script-min.js"></script>